body {
  background-color: #f9f7fe;
}

.weather-app {
  background-color: white;
  margin: 30px auto;
  max-width: 600px;
  border: none;
  border-radius: 20px;
  padding: 30px;
}
.search-input {
  background-color: #f9f7fe;
  padding: 50px;
  border: none;
  border-radius: 20px;
}
